.header-bar{
  margin: 30px;
  padding: 0;
  background-color: #086851;
  height: 200px;
  display: flex;
  justify-content: center;
  color: #abc4a4;
}

nav a{
  text-decoration: none;
  font-family: "Raleway";
  font-weight: bold;
  font-size: medium;
}

.opcion{
  margin: 1rem;
  margin-inline: 2rem;
  color: aliceblue;
}

.selected{
  margin: 1rem;
  margin-inline: 2rem;
  color: rgb(211, 43, 71);
  padding-bottom: 1rem;
  
}

.fila{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  border-color: black;
  border-width: 2px;
}

