#root {
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header-bar{
  height: 362px;
}

nav a{
  text-decoration: none;
  font-family: "Raleway";
  font-weight: bold;
  font-size: medium;
}

.opcion{
  margin: 1rem;
  margin-inline: 2rem;
  color: aliceblue;
}

.selected{
  margin: 1rem;
  margin-inline: 2rem;
  color: rgb(211, 43, 71);
  padding-bottom: 1rem;
  
}

.fila{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  border-color: black;
  border-width: 2px;
}

.contenedor {
  position: relative;
  text-align: center;
}


.card{
  margin: 1rem;
}

.car-row{
  display: flex;
  flex-direction: row;
}


.gradient-naranja{
  background-color: #f8ebe0;
  background: radial-gradient( #ee792b 0%, #f8ebe0 60%);
}

.gradient-azul{
  background-color: #f8ebe0;
  background: radial-gradient( #909bb9 0%, #f8ebe0 60%);
}

.gradient-rosado{
  background-color: #f8ebe0;
  background: radial-gradient( #ea59c0 0%, #f8ebe0 60%);
}

.top-100{
 
  top: 75rem;
}

.max-w-medio {
  max-width: 23rem/* 320px */;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

